@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');
/********Plugins********/
/*Loader CSS Starts*/
#loaderWrapper {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 99999;
  cursor: not-allowed;
  background-color: rgba(0,0,0,0.5);
}
.loader-container {
  width: 200px;
  margin: auto;
  margin-top: 20%;
}
/*Loader CSS Ends*/

/*Alertify CSS Starts*/
.alertify-logs {
  z-index: 99999;
}
.alertify-logs .success.show {
  background: #00C88B;
}
/*Alertify CSS Ends*/
/********Plugins********/

/*Jquery UI Starts*/
.ui-autocomplete {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ui-menu-item {
  background-color: #fff;
  color: #32af9e;
  border: 1px solid #32af9e;
}
.ui-menu-item:hover {
  background-color: #e3f9f7;
}
.ui-menu-item-wrapper.ui-state-active{
  background-color: #e3f9f7 !important;
  color: #32af9e;
  border-width: 0px;
}
.ui-menu-item-wrapper {
  padding: 10px !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
  border-width: 0px !important;
  color: #32af9e !important;
}
/*Jquery UI Ends*/

/*Customs Defaults Starts*/
#copyText {
  position: absolute;
  top: -10000px;
}
.display-none {
  display: none;
}
@media(max-width: 991px) {
  .display-none-sm {
    display: none;
  }
}
@media(min-width: 992px) {
  .display-sm {
    display: none;
  }
}
@media(max-width: 767px) {
  .display-none-xs {
    display: none;
  }
}
@media(min-width: 768px) {
  .display-xs {
    display: none;
  }
}
.invisible {
  visibility: hidden;
}
.red {
  color: red;
  font-weight: 900;
}
.green {
  color: #1EC4B4;
}
.fadeout {
  opacity: 0.7;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ddd;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #ddd;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #ddd;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #ddd;
}
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #22BAA5;
    opacity: 1 !important;
}
::selection {
    color: #fff;
    background: #22BAA5;
    opacity: 1 !important;
}
.blue-violet {
  background: linear-gradient(134.72deg, #A6C0FE 0%, #6D42EF 100%);
}
.pink-red {
  background: linear-gradient(134.72deg, #F093FB 0%, #F5576C 100%);
}
.yellow-orange {
  background: linear-gradient(134.72deg, #F6D365 0%, #FDA085 100%);
}
.yellow-pink {
  background: linear-gradient(134.72deg, #FAD0C4 0%, #E9649B 100%);
}
.pristine {
  background-color: #5EC75D !important;
  opacity: 1 !important;
  cursor: pointer !important;
}
button.disabled {
  background: #172E4C !important;
  opacity: 0.2 !important;
  border: 1px solid #a3a3a3 !important;
  cursor: not-allowed !important;
}
.form-container label {
  opacity: 0.6;
  color: #172E4C;
  font-size: 15px;
  font-weight: 400;
}
button {
  vertical-align: middle !important;
}
/*Customs Defaults Ends*/

/*Wallet Edit Modal Starts*/
.modal {
  margin: 10%;
}
.wallet-edit-modal-input {
  opacity: 0.6;
  color: #13223B;
  font-size: 15px;
  line-height: 19px;
}
.wallet-edit-modal-input label {
  width: 25%;
}
.wallet-edit-modal-input input {
  width: 75%;
  height: 40px;
  outline: none;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #D5D5D5;
  padding-left: 10px;
}
/*Wallet Edit Modal Ends*/

/*Animation Starts*/
@-webkit-keyframes shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake{
	-webkit-animation-name: shake;
	-webkit-animation-duration: 0.7s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-timing-function: linear;
}
/*Animation Ends*/

html {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}
#cryptoLink {
  background-color: #f7f8f9;
  min-height: auto;
}
.crypto-wrapper, .homepage-wrapper, .first-fold, .container-fluid {
  height: 95%;
}
#cryptoLink.unauthenticated{
  background: #fff;
  height: 100%;
}
/*Header section starts*/
.crypto-header {
  position: relative;
  z-index: 999999;
}
.navbar {
  margin-bottom: 0px;
  min-height: 70px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(169,169,169,0.5);
}
.unauthenticated .navbar{
  background: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.navbar-default .navbar-toggle {
  margin-top: 17px;
}
.navbar-default .navbar-nav>li {
  height: 70px;
}
.navbar-default .navbar-nav>li:hover {
  opacity: 0.7;
}
.navbar-default .navbar-nav>li.activeLink {
  background: linear-gradient(313.08deg, #00F198 0%, #A0EACE 100%);
}
.navbar-default .navbar-nav>li.activeLink>a, .navbar-default .navbar-nav>li.activeLink>a:focus, .navbar-default .navbar-nav>li.activeLink>a:hover {
  color: #fff;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  font-size: 15px;
  color: #13223B;
  padding-top: 25px;
  padding-bottom: 20px;
}
.crypto-header .navbar-brand img {
  height: 45px;
  margin-left: 30px;
}
.authentication-links{
  	height: 45px !important;
  	width: 123px;
    margin-top: 20px;
    margin-right: 15px;
}
#signupHeaderLink {
  border-radius: 5px;
  background: linear-gradient(313.08deg, #00F198 0%, #A0EACE 100%);
}
#signupHeaderLink:hover{
  background: linear-gradient(313.08deg, #00c77e 0%, #a5d4c2 100%);
  opacity: 1 !important;
}
#signupHeaderLink>a {
  color: #fff;
}
.authentication-links>a{
  padding-top: 11px !important;
  padding-bottom: 0px !important;
  text-align: center;
  font-size: 20px !important;
}
#loginHeaderLink {
	box-sizing: border-box;
	border: 1px solid #4A4A4A;
	border-radius: 5px;
}
#loginHeaderLink:hover {
  border-color: #32ad64;
  box-shadow: 0 2px 6px 0 rgba(15, 179, 95, 0.16);
  opacity: 1;
}
.homepage-wrapper, .gallery-wrapper, .cart-wrapper, .contact-us-wrapper, .not-found-wrapper, .login-wrapper, .dashboard-wrapper, .profile-wrapper, .signup-wrapper, .public-profile-wrapper, .privacy-policy-wrapper, .terms-of-use-wrapper, .search-user-wrapper, .forgot-password-wrapper {
  min-height: 85%;
}
.homepage-container, .gallery-container, .cart-container, .contact-us-container, .not-found-container, .login-container, .dashboard-container, .profile-container, .signup-container, .public-profile-container, .privacy-policy-container, .terms-of-use-container, .search-user-container, .forgot-password-container {
  margin-top: 45px;
  margin-bottom: 45px;
}
@media(max-width: 767px){
  .authentication-links {
    margin: auto;
    margin-top: 15px;
  }
}
/*Header section ends*/

/*Homepage section starts*/
.homepage-bg {
  height: 95%;
  position: absolute;
  top: 0px;
  width: 95%;
}
.circle-bg-container {
  height: 100%;
  width: 95%;
}
#homepageBgCircle {
  width: 100%;
  height: 100%;
}
.homepage-content {
  margin-top: 8%;
  z-index: 99;
  position: relative;
  }
.homepage-firstfold-left {
  margin-top: 15%;
  padding: 0px 0px 0px 5%;
  font-size: 34px;
}
.homepage-firstfold-left h1{
  font-weight: bolder;
  line-height: 40px;
  font-size: 34px;
}
.homepage-firstfold-left p {
	color: #172E4C;
	font-size: 25px;
	line-height: 34px;
  font-weight: 100;
  margin-bottom: 50px;
}
.get-started-link, .get-started-link:hover, .get-started-link:focus{
  padding: 12px 50px;
	border-radius: 5px;
	background: linear-gradient(270deg, #26EDCA 0%, #43E97B 100%);
	box-shadow: 0 2px 5px 0 rgba(33,33,33,0.16);
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.get-started-link:hover{
  background: linear-gradient(270deg, #18b196 0%, #39c368 100%)
}
.homepage-secondfold-left {
  position: absolute;
  right: 0px;
}
.wave-bg-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 70px;
  left: 0px;
}
#homepageBgWave {
  width: 100%;
  height: 100%;
}
@media(min-width: 1441px) {
  #cryptoLink, .crypto-wrapper, .homepage-wrapper, .first-fold, .container-fluid {
    height: 84%;
  }
  #homepageBgCircle {
    float: right;
    width: 60%;
  }
  #homepageBgWave {
    float: right;
    width: 60%;
  }
}
@media(max-width: 991px) {
  .homepage-firstfold-left {
    margin-top: 0px;
  }
  .homepage-secondfold-left img{
    width: 75%;
    float: right;
  }
}
@media(max-width: 767px) {
  .homepage-secondfold-left img {
    width: 55%;
    margin-top: 16%;
  }
}
/*Homepage section ends*/

/*Login Section Starts*/
.login-wrapper, .signup-wrapper, .forgot-password-wrapper {
  width: 100%;
}
.login-section, .signup-section, .forgot-password-section {
  width: 415px;
  margin: 4% auto 4% auto;
  /*border: 1px solid #C8C8C8;*/
  border-radius: 5px;
  padding: 10px 0px 20px 0px;
  background: #fff;
}
.signup-section-header, .login-section-header, .forgot-password-header {
  text-align: center;
  margin-bottom: 30px;
}
.signup-section-header h3, .login-section-header h3, .forgot-password-header h3{
  font-size: 27px;
  font-weight: 600;
  color: #172E4C;
}
.signup-section-header h3 span, .login-section-header h3 span, .forgot-password-header h3 span {
  opacity: 0.6;
}
.signup-section-header p, .login-section-header p, .forgot-password-header p{
  font-size: 17px;
}
.signup-section-header p a, .login-section-header p a {
  color: #1EC4B4;
  text-decoration: underline;
}
.signup-form, .login-form, .forgot-password-form {
  width: 70%;
  margin: auto;
}
.forgot-password-link a{
  color: #172E4C;
  text-decoration: underline;
}
.cl-login-img-container {
  width: 325px;
  margin: auto;
  margin-bottom: 40px;
}
.cl-login-img-container a{
  text-decoration: none;
}
a:active, a:hover, a:visited, a:link {
    outline: 0;
}
.cl-login-img-container img {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}
.cl-login-img-container span{
  font-size: 38px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  vertical-align: middle;
  font-weight: 700;
  /*color: #fff;*/
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.signup-input-field label, .forgot-password-input-field label{
  opacity: 0.6;
  color: #172E4C;
  line-height: 19px;
  font-size: 15px;
}
.cl-login-email-field, .cl-login-password-field, .cl-login-text-field, .forgot-password-input-field {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
}
.cl-login-email-field label, .cl-login-password-field label, .cl-login-text-field label{
  width: 25%;
  height: 100%;
}
.cl-login-email-field input, .cl-login-password-field input, .cl-login-text-field input{
  height: 100%;
  width: 100%;
  box-shadow: none;
  border: 1px solid #D5D5D5;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  outline: none;
  padding-left: 10px;
}
.cl-login-btn-container{
  width: 100%;
  height: 40px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #a2a2a2;
  border-radius: 5px;
  background-color: #172E4C;
  color: #fff;
  opacity: 0.2;
  outline: none;
  cursor: not-allowed;
  vertical-align: middle;
  font-size: 17px;
  font-weight: 300;
}
.cl-login-btn-container:hover, .cl-login-btn-container:active, .cl-login-btn-container:focus {
  color: #fff;
}
.login-error-section, .signup-error-section {
  text-align: center;
  color: red;
}
.cl-signup-btn-container p{
  text-align: center;
  opacity: 0.7;
}
.cl-signup-btn-container{
  width: 100%;
  height: 40px;
  margin: auto;
  border-radius: 5px;
  background-color: #172E4C;
  opacity: 0.2;
  color: #fff;
  outline: none;
  cursor: not-allowed;
  font-size: 17px;
  font-weight: 300;
  vertical-align: middle;
}

.cl-signup-btn-container:hover, .cl-signup-btn-container:active, .cl-signup-btn-container:focus {
  color: #fff;
}
/*Login Section Ends*/

/*Common for Dashboard and Profile*/
.navigation-tabs-section {
  padding: 0px;
}
.navigation-tabs {
    padding: 12px 22px;
    color: #898989;
}
.navigation-tabs-section .navigation-tabs.active {
  background-color: #fff;
}
.navigation-tabs a:link, .navigation-tabs a:active, .navigation-tabs a:hover, .navigation-tabs a:visited {
  text-decoration: none;
  font-size: 19px;
  color: #9B9B9B;
  padding: 5px 70% 5px 0px;
}
/*Common for Dashboard and Profile*/

/*Dashboard Section Starts*/
.dashboard-wrapper .dashboard-tab.active a:active, .dashboard-wrapper .dashboard-tab.active a:visited, .dashboard-wrapper .dashboard-tab.active a:link, .profile-wrapper .profile-tab.active a:active, .profile-wrapper .profile-tab.active a:visited, .profile-wrapper .profile-tab.active a:link {
  color: #22BAA5;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}
.dashboard-section, .profile-section {
  padding: 30px;
  background-color: #fff;
}
.add-wallet-header-title{
  color: #13223B;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding-bottom: 30px;
}
.dashboard-input-label {
	opacity: 0.6;
	color: #13223B;
	font-size: 15px;
	line-height: 19px;
}
.dashboard-input input{
  width: 100%;
  height: 40px;
  outline: none;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #D5D5D5;
  padding-left: 10px;
}
.add-wallet-btn.form-group-submit-btn {
	height: 40px;
	width: 128px;
	border-radius: 5px;
	background-color: #5EC75D;
  color: #fff;
  margin-top: 25px;
}

/*Wallet Section Starts*/
.wallet-list-container {
  margin-bottom: 40px;
}
.wallet-list-container .coin-list-title {
	color: #13223B;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}
.wallet-row {
  margin-top: 20px;
  padding: 15px 0px 10px 0px;
}
.wallet-row:hover {
  cursor: move;
  background-color: rgba(216, 216, 216, 0.12);
}
.wallet-img-container{
  position: relative;
  top: -5px;
}
.wallet-img-container img {
  width: 47px;
  height: 47px;
}
.wallet-name, .wallet-address {
  padding-top: 10px;
  opacity: 0.6;
	color: #13223B;
	font-size: 15px;
	line-height: 19px;
}
.wallet-sort-icon {
  margin-top: -35px;
  margin-left: -20px;
  visibility: hidden;
}
.wallet-row:hover .wallet-sort-icon{
  visibility: visible;
}
.wallet-sort-icon img{
  width: 15px;
  height: 30px;
  opacity: 0.4;
}
.wallet-actions .dropdown-toggle {
  background-color: #c4f3ee;
  border: 1px solid transparent;
}
.wallet-actions.open .dropdown-toggle {
  background-color: #80DED5 !important;
  border: 1px solid transparent !important;
}
.wallet-actions .dropdown-toggle span{
  color: #22BAA5;
  font-size: 16px;
  padding: 5px 3px;
}
.wallet-actions.open .dropdown-toggle span {
  color: #fff;
}
.dropdown.wallet-actions .dropdown-menu {
  padding: 0px;
  right: 0px;
  left: inherit;
}
.dropdown.wallet-actions .dropdown-menu li{
  padding: 10px;
  cursor: pointer;
}
.dropdown.wallet-actions .dropdown-menu li:hover {
  background-color: #c4f3ee;
}
.dropdown.wallet-actions .dropdown-menu li:hover span {
  color: #0c9a87;
}
.wallet-action-title {
  margin-left: 10px;
}
.wallet-edit-form {
  margin-top: 40px;
}
#qrcodeHolder {
  display: block;
  margin: auto;
}
/*Wallet Section Ends*/
/*Dashboard Section Ends*/

/*Profile Section Starts*/
.profile-section-title {
	color: #13223B;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.wallet-row-rearranger {
  position: absolute;
  left: -10px;
  top: 14px;
  font-size: 18px;
  cursor: pointer;
  visibility: hidden;
}
.wallet-row:hover .wallet-row-rearranger {
  visibility: visible;
}
.username-section-image img{
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.dp-upload {
  overflow: hidden;
  position: relative;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-top: -86px;
  text-align: center;
  padding-top: 25px;
}
.dp-upload [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.dp-upload:hover {
  background-color: #000;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
}
.dp-upload-label {
  visibility: hidden;
}
.dp-upload:hover .dp-upload-label {
  visibility: visible;
}
.username-section-title {
  margin-left: 30px;
  margin-top: 10px;
}
.username-section-title p {
	color: #13223B;
	font-size: 15px;
	line-height: 19px;
}
.username-input-section label{
	opacity: 0.6;
	color: #13223B;
	font-size: 15px;
	line-height: 19px;
}
.username-input-section input {
	height: 40px;
	width: 190px;
	border: 0.5px solid #D5D5D5;
	border-radius: 5px;
  padding-left: 10px;
  margin-left: 5px;
}
.username-input-section button {
  width: 140px;
  height: 40px;
  border-radius: 5px;
  margin-left: -75%;
}
.profile-input-section .profile-input {
  margin-bottom: 25px;
}
.profile-input-section .profile-input label {
	opacity: 0.6;
	color: #13223B;
	font-size: 15px;
	line-height: 19px;
}
.profile-input-section .profile-input input {
	height: 40px;
	width: 250px;
	border: 0.5px solid #D5D5D5;
	border-radius: 5px;
  padding-left: 10px;
}
.profile-input-section button {
  height: 40px;
  width: 140px;
}
.profile-color-section-header {
  color: #172E4C;
  font-size: 15px;
  opacity: 0.6;
}
.profile-color {
	height: 40px;
	width: 70px;
	border-radius: 5px;
  box-shadow: 0 8px 12px 0 rgba(199,199,199,0.4);
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
}
.profile-color:hover {
  opacity: 0.7;
}
.profile-color.active {
  box-shadow: 0 -3px 3px 0 rgba(0,0,0,0.5);
}
.profile-color:first-child {
  margin-left: 0px;
}
@media(max-width: 991px) {
  .username-input-section button {
    margin-left: -50%;
  }
}
@media(max-width: 767px) {
  .username-input-section button {
    margin-left: 0;
  }
  .profile-input-section button {
    margin-top: 20px;
  }
}
/*Profile Section Ends*/

/*Search User Section Starts*/
.search-user-section {
  width: 300px;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}
.search-user-section label {
  font-size: 18px;
  color: #333;
  margin-bottom: 30px;
}
.search-user-section .search-username-field input{
  height: 40px;
  width: 320px;
  box-shadow: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  outline: none;
  padding: 0px 10px;
  text-align: center;
}
.search-user-section .btn{
  width: 320px;
  height: 40px;
  padding-top: 10px;
}
/*Search User Section Ends*/

/*Public Profile Section Starts*/
.public-profile-wrapper {

}
.public-user-wallet-section {
  width: 768px;
  min-height: 700px;
  margin: auto;
  box-shadow: 0 2px 6px 0 rgba(33,33,33,0.16);
  background: #fff;
}
@media(max-width: 991px) {
  .public-user-wallet-section {
    width: auto;
  }
}
.public-user-section {
  width: 100%;
  min-height: 200px;
  box-shadow: 0 2px 6px 0 rgba(33,33,33,0.16);
}
.public-wallet-section {
  width: 100%;
}
.public-user-img-section {
  width: 100px;
  margin: auto;
}
.public-user-img-section img {
  width: 100%;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
}
.public-user-fullname {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  margin-top: 15px;
}
.public-user-username {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  opacity: 0.9;
}
.public-wallet-title {
  margin: 25px 0px;
  font-size: 18px;
  font-weight: 600;
}
.public-wallet-section-divider {
  width: 90%;
}
.public-wallet-row {
  margin: 30px 0px;
}
.public-wallet-address-img img {
  width: 30px;
  margin-top: -8px;
  margin-left: 10px;
}
.public-wallet-address-name {
  font-weight: 600;
  margin-top: -7px;
  font-size: 15px;
}
.public-wallet-address-type {
  margin-top: -10px;
  opacity: 0.7;
  font-size: 13px;
}
.public-wallet-address-copy-qrcode {
  padding: 0px;
}
.public-wallet-address-copy-qrcode img {
  cursor: pointer;
  max-width: 20px;
  max-height: 20px;
}
.public-wallet-address-copy-qrcode img:hover {
  opacity: 0.5;
}
/*Public Profile Section Ends*/

/*Privacy Policy Starts*/
.privacy-policy-section p, .collect-info-section p{
  margin-top: 25px;
  font-size: 18px;
  opacity: 0.8;
}
.collect-info-section {
  margin-top: 60px;
}
/*Privacy Policy Starts*/

/*Not found Section Starts*/
.not-found-wrapper-section {
  background-color: #fff;
  width: 768px;
  min-height: 700px;
  margin: auto;
  padding-top: 40px;
  margin-top: 40px;
}
.not-found-image-container img {
  width: 400px;
  margin: auto;
  display: block;
}
@media(max-width:768px) {
  .not-found-wrapper-section {
    width: 100%
  }
  .not-found-image-container img {
    width: 200px;
  }
}
/*Not found Section Ends*/

/*Footer section Starts*/
.footer-wrapper {
  background: #fff;
  min-height: 80px;
  padding: 15px 20px;
  box-shadow: 0 -4px 9px 0 rgba(182,182,182,0.5);
  /*box-shadow: 0 -2px 4px 0 rgba(169,169,169,0.5);*/
  z-index: 99;
  position: relative;
}
.footer-left-name {
  font-size: 32px;
  padding-left: 30px;
}
.footer-left-name a, .footer-left-name a:visited, .footer-left-name a:focus, .footer-left-name a:hover{
  color: #000;
  text-decoration: none;
}
.footer-left-name-1 {
  font-weight: 900;
}
.footer-left-name-2 {
  font-weight: 100;
}
.footer-left-name-3 {
  font-weight: 500
}
.footer-wrapper ul li {
  list-style-type: none;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}
.footer-wrapper ul li a:link, .footer-wrapper ul li a:active, .footer-wrapper ul li a:hover,.footer-wrapper ul li a:visited {
  text-decoration: none;
  color: #000;
}
.contact-us-section {
  font-size: 20px;
  font-weight: 900;
}
.contact-us-section h4{
  padding-left: 50px;
  font-weight: 600;
}
.contact-us-icons {
  padding: 0px;
  padding-left: 50px;
  border-left: 1px solid #aaa;
}
.contact-us-icons li{
  display: inline-block;
  margin-right: 20px;
}
.footer-bottom {
  margin-top: 20px;
  padding-top: 20px;
  font-size: 15px;
  border-top: 1px solid #E4E4E4;
}
.footer-bottom .sec-1 {
  padding-left: 30px;
  font-size: 15px;
  opacity: 0.4;
  font-weight: 600;
}
.footer-bottom .sec-2 a, .footer-bottom .sec-2 a:hover, .footer-bottom .sec-2 a:focus, .footer-bottom .sec-2 a:visited{
  text-decoration: none;
  color: #1EC4B4;
}
.footer-wrapper .support-us-section li{
  display: inline-block;
  margin-top: 0px;
  font-size: 15px;
}
.support-us-section li img {
  width: 20px;
  margin-left: 10px;
  cursor: copy;
}
.footer-beer-mug {
  font-size: 16px;
}
@media(max-width: 767px) {
  .footer-left-name, .footer-middle ul, .contact-us-section h4, .contact-us-icons, .footer-bottom .sec-1, .support-us-section {
    padding-left: 0px;
  }
  .contact-us-icons {
    border-width: 0px;
  }
  .sec-1, .sec-2, .sec-3 {
    margin-top: 5px;
  }
}
/*Footer Ends*/
